<!--
    Display information about the author such as the profile image and name
    Display a list of Blog Post titles that link to each post
    Data passed in would be a single author entity, list of blog post entities
    -->
    <%- include ('partials/header'); %>
    <h2><u><center><%=author.name%></center></u></h2>
      <section id="author">
        <h3><center><img src = "<%=author.photo%>" height=150></center></h3>
        <h5>upVotes: <%=author.upVotes%></h5>
        <h5>downVotes: <%=author.downVotes%></h5>
        <h3><%for(let i = 0; i < posts.length; i++){%>
        <% var post = posts[i];%>
        <div class = "blogPost">
          <h3><u><%=post.title%></u></h3>
          <h5><%=post.type%></h5>
          <h4>Ingredients:</h4>
          <h6><%=post.ingredients%></h6>
          <h4>Instructions: </h4>
          <h6><%=post.instructions%></h6>
        </div>
        <%}%></h3>

    </section>


      <%- include ('partials/footer');  %>
    </body>

    </html>
