<!--
  Title of the page
  Type
  List of ingredients
  Instructions paragraph
  UpVote and DownVote buttons
  Requires one blogPost entity passing
  -->

<%- include ('partials/header'); %>
<body>
    <h2><center><u>Blog Posts!</u></center></h2><br>
    <section id="posts">
      <% for(let i = 0; i < posts.length; i++){%>
        <h4><center><u><%=posts[i].title%></u></center></h4>
        <h5><center>By: <%=posts[i].author%></center></h5>
        <center><img src="<%=posts[i].photo%>" height=150><br></center>
        <h6><center><%=posts[i].type%></center></h6>
        <h6><center><%=posts[i].ingredients%></center></h6>
        <p><center><%=posts[i].instructions%></center></p>
      <center><a href = "/blogPost/<%=i%>/upVote" class = "button">upVote</a>
    <a href = "/blogPost/<%=i%>/downVote" class = "button">downVote</a></center><br><br>
      <%}%>
  </section>
<!--upvote and downvote buttons for each post -->

    <%- include ('partials/footer'); %>
  </body>
