<!--
  Title of the page
  Type
  List of ingredients
  Instructions paragraph
  UpVote and DownVote buttons
  Requires one blogPost entity passing
  -->

<%- include ('partials/header'); %>
    <h3>Blog Posts!</h3>
    <section id="posts">
      <% for(let i = 0; i < posts.length; i++){%>
        <h3><%=posts[i].title%></h3>
        <h3>By: <%=posts[i].author%></h3>
        <img src="<%=posts[i].image%>" height=150 />
        <h5><%=posts[i].type%></h5>
        <h5><%=posts[i].ingredients%></h5>
        <p><%=posts[i].instructions%></p>
      <button type = "button">upVote</button>
      <button type = "button">downVote</button>
      <%}%>
  </section>
<!--upvote and downvote buttons for each post -->

    <%- include ('partials/footer'); %>
  </body>
  </html>
