<!--
  Title of the page
  Type
  List of ingredients
  Instructions paragraph
  UpVote and DownVote buttons
  Requires one blogPost entity passing
  -->

<%- include ('partials/header'); %>
<body>
    <h2><center><u>Blog Posts!</u></center></h2>
    <section id="posts">
      <% for(let i = 0; i < posts.length; i++){%>
        <h4><u><%=posts[i].title%></u></h4>
        <h5>By: <%=posts[i].author%></h5>
        <img src="<%=posts[i].photo%>" height=150><br>
        <h6><%=posts[i].type%></h6>
        <h6><%=posts[i].ingredients%></h6>
        <p><%=posts[i].instructions%></p>
      <a href = "/blogPost/<%=i%>/upVote" class = "button">upVote</a>
      <a href = "/blogPost/<%=i%>/downVote" class = "button">downVote</a><br><br>
      <%}%>
  </section>
<!--upvote and downvote buttons for each post -->

    <%- include ('partials/footer'); %>
  </body>
  </html>
