<!--
  A list/table of recipe titles alongside their calculated popularity score
  Requires the list of recipes and the popularity score
  -->
    <%- include ('partials/header'); %>
    <h2><center><u>Trending</u></center></h2><br>
    <table class="center">
      <tr>
        <th>
          Rank
        </th>
        <th>
          Score
        </th>
        <th>
          Author
        </th>
      </tr>
      <%for(let i = 0; i<scores.length; i++){%>
        <tr>
          <td><%=i+1%></td>
          <td><%=scores[i][0]%></td><!--gets the score pair -->
          <td>
            <a href = "/author/<%=scores[i][1]%>">
            <%=scores[i][1]%>
            </a>
          </td>
        </tr>
      <%}%>



    </table>
<br><br>
    <%- include ('partials/footer');  %>
